/*! Astropinion | https://astropinion.com/ */

/* --- TABLE OF CONTENTS

01. EXTERNAL STYLES
    a. Tailwind CSS
    b. Template
02. UTILITIES
03. BRANDING
04. COMPOUND STYLES
04. MEDIA QUERIES

--- */

/* ==========================================================================
   01. EXTERNAL STYLES
   ========================================================================== */

/* a. Tailwind CSS Styles */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* b. Template */

@import './template.css';
@import './themes.css';


/* ==========================================================
   02. Utilities
   ========================================================== */

.ao-text-s-black { text-shadow: 0 2px 8px #000; }
.ao-transparent-white { background-color: rgba(255, 255, 255, 0.1); }
.-ao-rotate-90 { transform: rotate(-90deg); }
.ao-min-h-header { min-height: 75px; }
.ao-min-h-section { min-height: 500px; }


/* ==========================================================
   03. BRANDING
   ========================================================== */

/**
 * This is the full Astropinion word logo used in spaces large enough to see it clearly.
 */
.ao-logo {
    fill: currentColor;
}

/**
 * 1. Chrome defaults the SVG image to 0 width when sizing based on height. Size the logo based on
 *    width so it displays correctly.
 */
.ao-logo--size {
    width: 100%;
    max-width: 315px;
    max-height: 24px;
}

.ao-logo .ao-logo__primary,
.ao-logo .ao-logo__secondary,
.ao-logo .ao-logo__accent,
.ao-logo .ao-logo__tm {
    fill: #000000;
}

.theme-muted .ao-logo .ao-logo__primary {
    fill: var(--red-burnt-umber);
}

.theme-muted .ao-logo .ao-logo__secondary,
.theme-muted .ao-logo .ao-logo__accent,
.theme-muted .ao-logo .ao-logo__tm {
    fill: #ffffff;
}

.theme-light .ao-logo .ao-logo__primary {
    fill: #000000;
}

.theme-light .ao-logo .ao-logo__secondary,
.theme-light .ao-logo .ao-logo__accent,
.theme-light .ao-logo .ao-logo__tm {
    fill: var(--red-brick);
}


/* ==========================================================
   04. COMPOUND STYLES
   ========================================================== */

.ao-shuttle-rotate {
    transform: rotate(-45deg) translate(3px);
}

.ao-shuttle-upright {
    transform: rotate(-90deg) translateX(2px);
}

.ao-shuttle-cta {
    display: inline-block;
    text-align: center;
    margin-left: 2px;
    border: none;
    border-radius: 50%;
    min-width: 18px;
    width: 18px;
    min-height: 18px;
    height: 18px;
    line-height: 17px;
    padding: 0;
}

.ao-shuttle-cta > i {
    position: relative;
    top: -1px;
    right: 0px;
    font-size: 10px;
}

/**
 * Positions the shuttle correctly in Firefox.
 * See: https://stackoverflow.com/questions/952861/targeting-only-firefox-with-css
 */
@supports (-moz-appearance:none) {
    .ao-shuttle-cta > i {
        top: -3px;
        right: -1px;
    }
}

/**
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/**
 * Illustration of an astronaut that appears in the question section.
 */
.astronaut {
    height: 280px;
    margin-left: 15%;
    text-align: right;
    transition: height, margin, text-align 1.00s ease-in-out;
}

/**
 * Illustration of a moon that appears in the question section.
 */
.moon {
    background-image: url('../images/moon.png');
    background-size: 240px;
    background-position: 86% 1.5rem;
    background-repeat: no-repeat;
    transition: background-size 1.00s ease-in-out;
}


/* ========================================================== */
/*  05. MEDIA QUERIES                                         */
/* ========================================================== */

@media (max-width: 1200px) {
    .astronaut {
        text-align: left;
        margin-left: 0;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .astronaut {
        margin-left: -40px;
    }
}

@media (max-width: 768px) {
    .ao-logo--size {
        max-width: 245px;
    }
}

@media (max-width: 375px) {
    .ao-logo--size {
        max-width: 172px;
    }
}

@media (max-width: 320px) {

    .astronaut {
        height: 240px;
        margin-left: -20px;
    }

    .moon {
        background-size: 200px;
    }
}
