/**
 * These colors are split from the default template styles to make them easier to manage.
 */

/* ==========================================================================
   00. VARIABLES
   ========================================================================== */

   :root {    
    /* All Themes */
    /* --red-espresso: #5e171e; */
    
    /* Dark Theme (on black) */
    /* --red-brick: #b32130; */
    /* --blue-shuttle: #677785; */
    /* --blue-electric: #0c86f7; */
    /* --blue-congress: #004280; */
    /* --blue-shark: #24292e; */

    /* Light Theme (on sand) */
    /* --red-burnt-umber: #942530; */
    /* --blue-dove: #616f7d; */
    /* --blue-mariner: #358cde; */
    /* --blue-rhino: #2a4865; */
    /* --yellow-sand: #f1f2da; */
    /* --yellow-eagle: #c1c2a7; */
    /* --yellow-olive: #6d7146; */
    /* --yellow-woodland: #4d4f2b; */

    --blue-shuttle: #677785;
    --blue-rhino: #2a4865;
    --red-burnt-umber: #942530;
}


/* ========================================================== */
/*  01. GENERAL LAYOUT                                        */
/* ========================================================== */

ul, ol { 
    color:#858585;
}

p {
    /* color: #7c8595; */
    color: var(--blue-dove);
}

a:hover{
    color: var(--blue-electric);
}

h1, h2, h3, h4, h5, h6 {
  color: #071e55;
}

.section-top-border {
    border-top-color: #efefef;
}

.section-bottom-border {
    border-bottom-color: #efefef;
}

.section-white {
    background-color: #ffffff;
}

.section-white .section-title,
.section-grey .section-title {
    color: #000000;
}

.section-grey {
    background-color: #fafbfc;
}

.section-blue {
    background-color: var(--blue-mariner);
}

.section-yellow {
    background-color: var(--yellow-sand);
}


/* ========================================================== */
/*  02. MENU NAV            i                                 */
/* ========================================================== */

.theme-muted .navbar-fixed-top {
    background-color: #000000;
    border-bottom-color: var(--blue-rhino);
}

.theme-muted .navbar-toggler {
    border-color: transparent;
}

.theme-muted .navbar-toggler-icon i {
    color: var(--blue-shuttle);
}

.theme-muted .navbar-nav > li > a {
    border-color: transparent;
    color: var(--blue-shuttle);
}

.theme-muted .navbar-nav > li > a:hover,
.theme-muted .navbar-nav .current a {
    color: var(--red-burnt-umber) !important;
}

.theme-muted .navbar-fixed-top .navbar-nav > li > a.discover-btn {
    color: #ffffff !important;
    border-color: var(--blue-shuttle);
    background-color: transparent;
}

.theme-muted .navbar-fixed-top .navbar-nav > li > a.discover-btn:hover {
    background-color: var(--blue-rhino);
    border-color: transparent;
}

.theme-light .navbar-fixed-top {
    background-color: var(--yellow-sand);
    border-bottom-color: var(--yellow-eagle);
}

.theme-light .navbar-nav > li > a {
    color: var(--yellow-olive);
}

.theme-light .navbar-fixed-top .navbar-nav > li > a:hover,
.theme-light .navbar-fixed-top .navbar-nav .current a {
    color: var(--red-brick) !important;
}

.theme-light .navbar-fixed-top .navbar-nav > li > a.discover-btn {
    color: #ffffff !important;
    border-color: var(--red-brick);
    background-color: var(--red-brick);
}

.theme-light .navbar-fixed-top .navbar-nav > li > a.discover-btn:hover {
    border-color: var(--red-espresso);
    background-color: var(--red-espresso);
}


/* ========================================================== */
/*  04. HOME                                                  */
/* ========================================================== */

.home-section-overlay{
    /* background-color: var(--red-espresso); */
    /* opacity: 0.73; */

    /* Photo by Startup Stock Photos from Pexels */
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url(../images/research.jpg);
}


/* ========================================================== */
/*  06. FEATURES                                              */
/* ========================================================== */

.main-services h3 {
    color: #292929;
}

blockquote {
    color: #4285f4;
    border-left-color: #4285f4;
}

.feature-box i {
    color: var(--red-burnt-umber);
}

.feature-box p {
    color: var(--blue-shuttle);
}

.feature-box h4 {
    color: #000000;
}


/* ========================================================== */
/*  10. OTHER ELEMENTS      i                                 */
/* ========================================================== */

/* -----  a) Newsletter ----- */

/* WebKit browsers */
input#mce-EMAIL::-webkit-input-placeholder {
    color: var(--blue-rhino) !important;
}

/* Mozilla Firefox 4 to 18 */
input#mce-EMAIL:-moz-placeholder {
    color: var(--blue-rhino) !important;
}

/* Mozilla Firefox 19+ */
input#mce-EMAIL::-moz-placeholder {
    color: var(--blue-rhino) !important;
}

/* Internet Explorer 10+ */
input#mce-EMAIL:-ms-input-placeholder {
    color: var(--blue-rhino) !important;
}

input::placeholder, textarea::placeholder {
    color: var(--blue-rhino) !important;
}

.newsletter_success_box {
    color:#ffffff;
}


/* ----- b) Buttons ----- */

.btn-white {
    color: #0883fb;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
}

.btn-white:hover {
    color: #0470ea !important;
    background-color:#f9f9f9;
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn-white-border {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-white-border:hover {
    color: #0883fb;
    background-color: #000;
    border-color: #374046;
    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
}

.btn-blue {
    color: #ffffff;
    background-color: var(--red-burnt-umber);
    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}

.btn-blue:hover {
    color: #ffffff !important;
    background-color: var(--blue-rhino);
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn-blue-line {
    background-color: transparent;
    color: var(--blue-electric);
    border-color: var(--blue-electric);
}

.btn-blue-line:hover{
    color: #ffffff !important;
    background-color: var(--blue-electric);
}

a.btn-blue:visited, a.btn-blue:focus{
    color: #ffffff !important;
}


/* ----- e) Accordion Tabs ----- */

.card:hover {
    border-color: transparent;
}

.card-header {
    border-color: transparent;
}

.card-header button:hover {
    color: var(--red-burnt-umber) !important;
}

.card-body {
    border-color: var(--blue-shuttle);
}


/* ----- h) Dropcaps Features ----- */

.dropcaps-circle {
    color: #ffffff;
    background-color: var(--red-burnt-umber);
    border-color: transparent;
}
